@import url(./global.css);

* {
	margin: 0;
	padding: 0;
}

html,
body,
#app {
	height: 100%;
	width: 100%;
	/* start-将box-sizing默认改为border-box，如果需要设置为content-box需要手动加box-sizing: content-box; */
	box-sizing: border-box;
	scroll-behavior: auto;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.main-content {
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 2px #B399FF;
}
