:root {
  --dark-theme: #131313;
  /* 文本通用字体色 */
  --general-font-color: #a9b7c6;
  /* default color of catalog text  */
  --menu-font-color: #e2eaf1;
  /* default color of button */
  --color-button-default: #626aef;
  /* default color of view page */
  --view-body-bg-color: #131313;
  /* default color of link */
  --base-link-color: #0EA5E9;
  /* default color of border-radius */
  --general-border-radius: 16px;
  /* default color of border */
  --color-border-default: #30363d;
}